{% extends '::base.html.twig' %}
 
{% block title %}Ajouter un evenement{% endblock %}
{% block body %}
 {% block stylesheet %}
    {% if form is defined %}
      {{ form_stylesheet(form) }}
    {% endif %}
  {% endblock %}
  {% block scripts %}
    {% if form is defined %}
			<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

      <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
	  <script type="text/javascript">
        tinymce.init({
            language : 'fr_FR',
        });
    </script>
      {{ form_javascript(form) }}
    {% endif %}
  {% endblock %}
<h3>News :</h3>

<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.titre, "Titre", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.contenu, "Contenu", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_rest(form) }}
  {{ form_end(form) }}
</div>

{% endblock %}
