{% extends '::base.html.twig' %}
{% block title %}Ajouter un client{% endblock %}
{% block body %}

<div class="well">
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
		{{ form_errors(form) }}

		<div class="form-group">
			{{ form_label(form.prenom, "Prénom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
			<div class="col-sm-4">
				{{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
			<div class="col-sm-4">
				{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.naissance, "Naissance", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
			<div class="col-sm-4">
				{{ form_widget(form.naissance) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.rue, "Rue", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
			<div class="col-sm-4">
				{{ form_widget(form.rue, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.ville, "Ville", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
			<div class="col-sm-4">
				{{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.cp, "Code postal", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
			<div class="col-sm-4">
				{{ form_widget(form.cp, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.email, "E-mail", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
			<div class="col-sm-4">
				{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.tel, "Téléphone", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
			<div class="col-sm-4">
				{{ form_widget(form.tel, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
		{{ form_rest(form) }}
  {{ form_end(form) }}
</div>

{% endblock %}