{% extends '::base.html.twig' %}
{% block title %}Editer un exemplaire{% endblock %}
{% block body %}

<h3> Modification de l'exemplaire : </h3>

<div class="well">
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
		{{ form_errors(form) }}

		<div class="form-group">
			{{ form_label(form.edition, "Edition", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
			<div class="col-sm-4">
				{{ form_widget(form.edition, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.livre, "Livre", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
			<div class="col-sm-4">
				{{ form_widget(form.livre, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
		{{ form_rest(form) }}
  {{ form_end(form) }}
</div>

{% endblock %}