{% extends '::base.html.twig' %}
{% block title %}{{edition.nom}}{% endblock %}
{% block body %}

<div class="alert alert-success">
	<p><span class="glyphicon glyphicon-star" style="font-size:50px;margin-right:20px;"></span>Bonjour, je suis l'éditeur <b>{{edition.nom}}</b> et j'édite ces livres : </p>
</div>
	
<div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Liste des livres édités par <b>{{edition.nom}}</b> :</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Recherche par filtres</button>
                </div>
            </div>

	<table class="table table-striped table-hover">
		<thead>
	        <tr class="filters">
	            <th><input type="text" class="form-control" placeholder="##" disabled></th>
	            <th><input type="text" class="form-control" placeholder="Titre" disabled></th>
	            <th><input type="text" class="form-control" placeholder="Auteur" disabled></th>
	            <th><input type="text" class="form-control" placeholder="Année" disabled></th>
	            <th><input type="text" class="form-control" placeholder="Genre" disabled></th>
	            <th><input type="text" class="form-control" placeholder="Résumé" disabled></th>
	        </tr>
	    </thead>
		<tbody>
			{% if edition.exemplaires is not empty %}
				{% for exemplaire in edition.exemplaires %}
					<tr>
						<td><b><a href="{{ path('biblio_general_showlivre',{ 'id':exemplaire.livre.id }) }}">{{ exemplaire.livre.id }}</a></b></td>
						<td>{{ exemplaire.livre.titre }}</td>
						<td>
							{% if exemplaire.livre.auteurs is not empty %}
							    {% for auteur in exemplaire.livre.auteurs %}
							      {{ auteur.prenom }} {{ auteur.nom }}{% if not loop.last %}, {% endif %}
							    {% endfor %}
							{% endif %}
						</td>
						<td>{{ exemplaire.livre.annee }}</td>
						<td>{{ exemplaire.livre.typeLivre.libelle }}</td>
						<td>{{ exemplaire.livre.resume | slice(0, 50) }}</td>
					</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
</div>

{% endblock %}