{% extends '::base.html.twig' %}
{% block title %}{{member.prenom}}{% endblock %}
{% block body %}

<div class="alert alert-success">
	<p><span class="glyphicon glyphicon-user" style="font-size:50px;margin-right:20px;"></span> Bonjour, je m'appelle <b>{{member.prenom}} {{member.nom}}</b>, j'habite à <b>{{member.ville}}</b> et j'ai <b>{{"now"|date('Y') - member.naissance|date('Y')}}</b> ans ! Je suis passionné de lecture.</p>
	<center style="padding:50px">
		{% if member.hasrole("ROLE_ADMIN")  %}
			<b>Je suis un administrateur et fier de l'être !</b>
		{% elseif member.hasrole("ROLE_ABONNE")  %}
			<b>Je suis un fidèle abonné !</b>
		{% elseif member.hasrole("ROLE_BAN")  %}
			<b>Je suis un membre déchu... (utilisateur banni)</b>
		{% else %}
			<b>Je ne suis qu'un simple terrien... (utilisateur gratuit)</b>
		{% endif %}
	</center>
</div>
	
<div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Liste des livres emprunté par <b>{{member.prenom}} {{member.nom}}</b></h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Recherche par filtres</button>
                </div>
            </div>

	<table class="table table-striped table-hover">
		<thead>
	        <tr class="filters">
	            <th><input type="text" class="form-control" placeholder="##" disabled></th>
	            <th><input type="text" class="form-control" placeholder="Exemplaire" disabled></th>
	            <th><input type="text" class="form-control" placeholder="Date d'emprunt" disabled></th>
	            <th><input type="text" class="form-control" placeholder="Délai d'emprunt" disabled></th>
	        </tr>
	    </thead>
		<tbody>
		{% if member.emprunts is not empty %}
			{% for emprunt in member.emprunts %}
				<tr>
					<td><b>{{ emprunt.id }}</b></td>
					<td>{{ emprunt.exemplaire.livre.titre }} ({{ emprunt.exemplaire.edition.nom }})</td>
					<td>{{ emprunt.date|date("d/m/Y") }}</td>
					<td>{{ emprunt.delais }}</td>
				</tr>
			{% endfor %}
		{% endif %}
		
	</tbody>
	</table>
	
</div>

{% if is_granted("ROLE_ADMIN") and app.user.id!=member.id  %}
	<center style="margin:10px;"><a href="{{ path('biblio_general_setabonnementuser',{ 'id':member.id }) }}"><button class="btn btn-primary">Ce membre a payé ? Il peut devenir abonné !</button></a></center>
	<center style="margin:10px;"><a href="{{ path('biblio_general_setadminuser',{ 'id':member.id }) }}"><button class="btn btn-primary">Ou mieux, il peut devenir administrateur !</button></a></center>
	<center style="margin:10px;"><a href="{{ path('biblio_general_setuser',{ 'id':member.id }) }}"><button class="btn btn-primary">Ou moins bien, redevenir membre...</button></a></center>
	<center style="margin:10px;"><a href="{{ path('biblio_general_setbanuser',{ 'id':member.id }) }}"><button class="btn btn-primary">Ou pire, le bannir !</button></a></center>
{% endif %}
{% endblock %}