{% extends '::base.html.twig' %}
{% block title %}Liste des Livres{% endblock %}
{% block body %}

<div class="panel panel-primary filterable">
    <div class="panel-heading">
        <h3 class="panel-title">Liste des livres :</h3>
        <div class="pull-right">
            <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Recherche par filtres</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr class="filters">
                <th><input type="text" class="form-control" placeholder="##" disabled></th>
                <th><input type="text" class="form-control" placeholder="Titre" disabled></th>
                <th><input type="text" class="form-control" placeholder="Auteur(s)" disabled></th>
                <th><input type="text" class="form-control" placeholder="Année" disabled></th>
                <th><input type="text" class="form-control" placeholder="Genre" disabled></th>
                <th><input type="text" class="form-control" placeholder="Résumé" disabled></th>
                <th><input type="text" class="form-control" placeholder="ISBN" disabled></th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
			{% if listLivres is not empty %}
				{% for livre in listLivres %}
					<tr>
						<td><b><a href="{{ path('biblio_general_showlivre',{ 'id':livre.id }) }}}">{{ livre.id }}</a></b></td>
						<td>{{ livre.titre }}</td>
						<td>
							{% if livre.auteurs is not empty %}
							    {% for auteur in livre.auteurs %}
							      {{ auteur.prenom }} {{ auteur.nom }}{% if not loop.last %}, {% endif %}
							    {% endfor %}
							{% endif %}
						</td>
						<td>{{ livre.annee }}</td>
						<td>{{ livre.typeLivre.libelle }}</td>
						<td>{{ livre.resume | slice(0, 50) }}</td>
						<td>{{livre.isbn}}</td>
						<th><a href="{{ path('biblio_general_editlivre',{ 'id':livre.id }) }}}">Editer</a></th>
						<th><a href="{{ path('biblio_general_deletelivre',{ 'id':livre.id }) }}}">Supprimer</a></th>
					</tr>
				{% endfor %}
			{% endif %}
		</tbody>
    </table>
</div>

{% endblock %}