{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
		
		<label>Adresse Mail</label>
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
			{{ form_widget(form.email, {'attr': {'class':'form-control', 'placeholder' : 'Adresse mail' }}) }}
		</div>
		
		<label>Nom d'utilisateur</label>
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-user"></i></span>
			{{ form_widget(form.username, {'attr': {'class':'form-control', 'placeholder' : 'Nom d\'utilisateur' }}) }}
		</div>
		
		<label>Mot de passe</label>
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-lock"></i></span>
			{{ form_widget(form.plainPassword.first, {'attr': {'class':'form-control', 'placeholder' : 'Mot de passe' }}) }}
		</div>
		
		<label>Confirmation du mot de passe</label>
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-lock"></i></span>
			{{ form_widget(form.plainPassword.second, {'attr': {'class':'form-control', 'placeholder' : 'Confirmation du mot de passe' }}) }}
		</div>
		<br />
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-block btn-success" value="{{ 'registration.submit'|trans }}" />
    </div><br />
</form>
